.page{
    width: 400px;
    margin: 40px auto;
}



.navbar span{
    color: gray;
    font-size: 20px;
    margin-right: 30px;
}
.navbar>div{
    width: 1170px;
    margin: 10px auto;
}
.navbar>div>span:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}
.query{
    background-color: #EEEEEE;
    height: 60px;
    position: relative;
    left: 0;
    top: -20px;
}
.query>p{
    width: 1170px;
    margin: 0px auto;
    font-size: 23px;
    padding-top: 14px;
}
.button{
    width: 1170px;
    margin:  0px auto;
    margin-bottom: 10px;
}
.cell>table{
    width: 1170px;
    margin: 0 auto;
}
.th{
    text-align: center;
}


